// Bootstrap core
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "media/vendor/bootstrap/mixins";

// Bettum Variables
@import "variables";



// Position
// @include position('left', 0);
@mixin position($position, $size) {
  $rtl-position: null;
  @if $position == 'left' {
    $rtl-position: right;
  } @else if $position == 'right' {
    $rtl-position: left;
  }

  @if $rtl and $rtl-position != null {
    #{$rtl-position}: $size;
  } @else {
    #{$position}: $size;
  }
}


// Translate
// @include translate(0);
@mixin translate($width) {
  @if $rtl and $width < 0 {
    transform: translateX(str-replace(#{$width}, "-", ""));
  } @else if $rtl not true and $width > 0 {
    transform: translateX($width);
  } @else {
    transform: translateX($width);
  }
}
