// Variables

$enable-rounded:              false;



// Colours
$blue:                        #0056B3;
$primary:                     #38383d;
$secondary:                   #2a2a2e;
$tertiary:                    #1c1c1c;
$border-color:                #4c4c51;
$dark-text-color:             #ccc;

$theme-colors: (
  primary: $primary,
  secondary: darken($secondary, 6%),
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $tertiary,
  dark: $gray-800
);

$link-color:                  $dark-text-color;
$body-color:                  $dark-text-color;
$link-hover-color:            lighten($body-color, 10%);
$component-active-bg:         $tertiary;



// Headings
$h1-font-size:                $font-size-base * 1.5;
$h2-font-size:                $font-size-base * 1.2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$headings-color:              $body-color;
$headings-margin-bottom:      0;



// Form
$input-max-width:               240px;
$input-bg:                      $primary;
$input-disabled-bg:             $primary;
$input-focus-bg:                $primary;
$input-color:                   $body-color;
$input-focus-color:             $body-color;
$input-border-color:            $border-color;

$custom-select-bg:              $input-bg;
$custom-select-color:           $input-color;
$custom-select-border-color:    $border-color;
$custom-select-indicator-color: $body-color;
$custom-select-indicator:       str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e"), "#", "%23");
$custom-select-background:       $custom-select-indicator no-repeat right $custom-select-padding-x center / $custom-select-bg-size;

$input-group-addon-color:        $body-color;
$input-group-addon-bg:           $primary;
$input-group-addon-border-color: $border-color;



// Treeselect
$treeselect-line-height:      2.2rem;
$treeselect-indent:           40px;



// Cards
$card-cap-bg:                 $secondary;
$card-bg:                     $secondary;
$card-cap-color:              $body-color;
$card-spacer-y:               .25rem;
$card-border-color:           $border-color;
$card-border-width:           0;



// Buttons
$btn-link-color:              $body-color;



// Dropdown
$dropdown-bg:                 $secondary;
$dropdown-border-color:       $border-color;
$dropdown-link-color:         $body-color;
$dropdown-link-active-bg:     $component-active-bg;
$dropdown-link-hover-bg:      $primary;
$dropdown-link-hover-color:   $body-color;
$dropdown-divider-bg:         $border-color;


// List group
$list-group-color:            $body-color;
$list-group-bg:               $secondary;
$list-group-border-color:     $border-color;



// Tables
$table-bg:                    $secondary;
$table-border-color:          $border-color;
$table-color:                 $body-color;
$table-accent-bg:             $primary;



// Pagination
$pagination-color:                  $link-color;
$pagination-bg:                     $secondary;
$pagination-border-color:           $border-color;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $primary;
$pagination-hover-border-color:     $border-color;

$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $blue;
$pagination-active-border-color:    $border-color;

$pagination-disabled-color:         $link-color;
$pagination-disabled-bg:            $tertiary;
$pagination-disabled-border-color:  $border-color;



// Modals
$modal-content-color:               $body-color;
$modal-content-bg:                  $primary;
$modal-content-border-color:        $border-color;

$modal-header-border-color:         $border-color;
$modal-footer-border-color:         $border-color;



// Close
$close-color:                       $body-color;
$close-text-shadow:                 none;



// Alerts
$zindex-alerts:               1080;



// Shadows
$shadow-default:              0 .125rem .35rem rgba(0, 0, 0, .03);
$box-shadow-sm:               0 .125rem .25rem $primary;
