// Variables

$enable-rounded:              false;

// Colours
$primary:                     #383b5f;
$secondary:                   #eef0f6;
$tertiary:                    #f9f9fb;
$border-color:                #e1e2ea;

$theme-colors: (
  primary: $primary,
  secondary: darken($secondary, 6%),
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $tertiary,
  dark: $gray-800
);

$link-color:                  $primary;
$body-color:                  $primary;
$link-hover-color:            #664d95;
$component-active-bg:         $primary;

// Headings
$h1-font-size:                $font-size-base * 1.5;
$h2-font-size:                $font-size-base * 1.2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$headings-color:              $primary;
$headings-margin-bottom:      0;

// Form
$input-max-width:             240px;

// Treeselect
$treeselect-line-height:      2.2rem;
$treeselect-indent:           40px;

// Cards
$card-cap-bg:                 #fff;
$card-spacer-y:               .25rem;
$card-border-color:           $border-color;

// Buttons
$btn-link-color:              $primary;

// Dropdown
$dropdown-link-color:         $primary;
$dropdown-link-active-bg:     $component-active-bg;

// Tables
$table-bg:                    #fff;
$table-border-color:          $border-color;
$table-color:                 $body-color;
$table-accent-bg:             $tertiary;

// Pagination
$pagination-color:            $primary;

// Alerts
$zindex-alerts:               1080;

// Shadows
$shadow-default:               0 .125rem .35rem rgba(0, 0, 0, .03);
