.media-breadcrumb {
  display: flex;
  padding: 0;
  margin: 0;
  margin-inline-end: auto;
  font-size: .9rem;
  line-height: $toolbar-height;
  background: transparent;
  border-inline-start: 1px solid $border-color;

  ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: outside none none;

    & > li > a {
      cursor: pointer;
    }
  }
}

.media-breadcrumb-item {
  padding: 0;
  padding-inline-end: 8px;
  padding-inline-start: 22px;
  background-color: $breadcrumbs-bg;
  &:first-of-type {
    padding-inline-start: 16px;
  }
  &:last-of-type {
    background-color: $breadcrumbs-current-bg;
    &::after {
      border-inline-start-color: $breadcrumbs-current-bg;
    }
    a {
      color: $white;
    }
  }
  &:hover {
    color: $highlight-color;
  }
}

.media-breadcrumb-item {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 2;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    content: "" !important;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-inline-start: 10px solid transparent;
  }
  &::before {
    border-inline-start-color: $border-color;
  }
  &::after {
    border-inline-start-color: $breadcrumbs-bg;
  }
}

// RTL overrides
html[dir=rtl] .media-breadcrumb-item {
  &::before,
  &::after {
    left: 0;
    right: 100%;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}
