// Dashboard

.cpanel-modules {

  .card {
    box-shadow: $shadow-default;
  }
  
  .card-header {
    padding: 0;

    h2 {
      position: relative;
      padding: .65rem 1rem;
    }

    .btn {
      padding: .65rem 1rem;
    }

  }

  .card-body {
    padding: 0;
  }

  .table {
    margin-bottom: 0;
  }

}

.cpanel-modules.cpanel-quickicons .card-body {
  padding: $card-spacer-x;
}

.cpanel-add-module {
  margin-bottom: 2rem;
  border: 2px dashed $primary;

  .fa {
    font-size: 40px;
  }
}
