// Bootstrap core
@import "../../../../../media/vendor/bootstrap/scss/functions";
@import "../../../../../media/vendor/bootstrap/scss/variables";
@import "../media/vendor/bootstrap/mixins";

// Bettum Variables and Mixins
@import "../mixins";
@import "../variables";

// Dashboard
.cpanel-modules {

  .card {
    box-shadow: $shadow-default;
  }

  .card-header {
    padding: 0;

    h2 {
      position: relative;
      padding: .65rem 1rem;
    }

    .btn {
      padding: .65rem 1rem;
    }

  }

  .card-body {
    padding: 0;
  }

  .table {
    margin-bottom: 0;
  }
}

.cpanel-modules.cpanel-quickicons .card-body {
  padding: $card-spacer-x;
}

.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.cpanel-add-module {
  margin-bottom: 2rem;
  border: 2px dashed $tertiary;

  .fa {
    font-size: 40px;
  }
}
