// Bootstrap core
@import "../../../../../media/vendor/bootstrap/scss/functions";
@import "../../../../../media/vendor/bootstrap/scss/variables";
@import "../media/vendor/bootstrap/mixins";

// Bettum Variables and Mixins
@import "../mixins";
@import "../variables";

// Dashboard
.cpanel-modules {

  .card {
    box-shadow: $shadow-default;
  }

  .card-body .list-group-flush {
    margin-left: -$card-spacer-x;
    margin-right: -$card-spacer-x;
  }

  .table {
    margin-bottom: 0;
  }
}

// Can't see any reference to this styling so commenting out for now
//.cpanel-modules.cpanel-quickicons .card-body {
//  padding: $card-spacer-x;
//}

.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.cpanel-add-module {
  margin-bottom: 2rem;
  border: 2px dashed $tertiary;

  .fas {
    font-size: 40px;
  }
}
