// Bootstrap core
@import "../../../../../media/vendor/bootstrap/scss/functions";
@import "../../../../../media/vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/mixins";

// Bettum Variables and Mixins
@import "../mixins";
@import "../variables";

// Bootstrap
@import "../../../../../media/vendor/bootstrap/scss/root";
@import "../../../../../media/vendor/bootstrap/scss/reboot";
@import "../../../../../media/vendor/bootstrap/scss/type";
@import "../../../../../media/vendor/bootstrap/scss/images";
@import "../../../../../media/vendor/bootstrap/scss/forms";
@import "../vendor/bootstrap/buttons";
@import "../../../../../media/vendor/bootstrap/scss/input-group";
@import "../../../../../media/vendor/bootstrap/scss/custom-forms";
@import "../../../../../media/vendor/bootstrap/scss/utilities/clearfix";
@import "../../../../../media/vendor/bootstrap/scss/utilities/display";
@import "../../../../../media/vendor/bootstrap/scss/utilities/flex";
@import "../../../../../media/vendor/bootstrap/scss/utilities/screenreaders";

// Alert
@import "../../../../../build/media_source/system/scss/jalert";

// Blocks
@import "../blocks/global";
@import "../blocks/alerts";
@import "../blocks/form";
@import "../blocks/utilities/text";
@import "../blocks/utilities/height";


// Login
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
  }
}

.logo {
  width: 3rem;
  margin: 1.5rem 0;
}
