// Bootstrap core
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../media/vendor/bootstrap/mixins";

// Bettum Variables and Mixins
@import "../mixins";
@import "../variables";

// Bootstrap
@import "../media/vendor/bootstrap/root";
@import "../media/vendor/bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/forms";
@import "../media/vendor/bootstrap/buttons";
@import "../bootstrap/input-group";
@import "../bootstrap/custom-forms";
@import "../bootstrap/utilities/clearfix";
@import "../bootstrap/utilities/display";
@import "../bootstrap/utilities/flex";
@import "../bootstrap/utilities/screenreaders";

// Blocks
@import "../blocks/global";
@import "../blocks/alerts";
@import "../blocks/form";
@import "../blocks/utilities/text";
@import "../blocks/utilities/height";


// Login
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
  }
}

.logo {
  width: 3rem;
  margin: 1.5rem 0;
}
