// Bootstrap core
@import "../../../../../media/vendor/bootstrap/scss/functions";
@import "../../../../../media/vendor/bootstrap/scss/variables";
@import "../../../../../media/vendor/bootstrap/scss/mixins";

// Bettum Variables
@import "../variables";

// Login
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.logo {
  width: 3rem;
  margin: 1.5rem 0;
}
