// Text

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
.text-muted { color: $gray-600 !important; }

.text-danger { color: $danger !important; }
