// Alerts

.notify-alerts {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: $zindex-alerts;
}

.alert a {
  color: inherit;
}

.alert-heading {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 1.1rem;
}
