// Form

.control-group {
  margin-bottom: 1rem;
}

.controls {
  .custom-select,
  .form-control {
    max-width: $input-max-width;
  }
}

.title-alias .controls {
  .custom-select,
  .form-control {
    max-width: none;
  }
}

.form-control-feedback {
  display: block;
  color: $danger;
}


// Custom select modifiers
.custom-select-success {
  border-color: $green;
}

.custom-select-danger {
  border-color: $red;
}
