// Form

/*.control-group {
  display: flex;
  margin-bottom: 1rem;

  > * {
    display: flex;
    align-items: center;
  }
}

.control-label {
  flex: 0 1 200px;

  label {
    margin-bottom: 0;
  }
}

.controls {
  flex: 0 1 240px;
  margin-right: 1rem;

  .custom-select,
  .form-control {
    max-width: $input-max-width;
  }
}
*/

.control-group {
  margin-bottom: 1rem;
}

.controls {
  .custom-select,
  .form-control {
    max-width: $input-max-width;
  }
}

.title-alias .controls {
  .custom-select,
  .form-control {
    max-width: none;
  }
}
