// Nav

.top-nav {
  > * {
    border-inline-start: 1px solid $border-color;
  }
}

.navbar {
  background-color: $tertiary;

  .nav-link {
    padding-inline-start: .65rem;
    padding-inline-end: .65rem;
  }
}

.nav-scroller {
  background: $secondary;

  > nav {
    flex-wrap: nowrap;
    border-bottom: 1px solid $border-color;
  }
}

.navbar-nav .dropdown-menu {
  margin: 0;

  .dropdown-item {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: .5rem;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

.nav-pills-sm {
  .nav-link {
    padding: $spacer / 5 $navbar-padding-x;
  }
}
