// Nav

.navbar {
  background-color: $primary;

  .nav-link {
    padding-left: .65rem;
    padding-right: .65rem;
  }
}

.nav-scroller {
  background: #fff;
  box-shadow: $shadow-default;

  > nav {
    border-bottom: 1px solid $border-color;
  }
}

.navbar-nav .dropdown-menu .dropdown-item {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%) rotate(-90deg);
  }
}
