// Quick Icons

.quick-icons {
  display: flex;
  flex-wrap: wrap;
}

.quick-icons li {
  list-style: none;
}

.quickicon a {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  min-height: 105px;
  padding: 15px 10px;
  background: #59005b;
  color: #fff;
  text-align: center;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-sm;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

  &.success {
    background: #005b22;
  }
}

.quickicon-icon,
.quickicon-name {
  justify-content: center;
}

.quickicon-icon {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.quickicon-name,
.quickicon-text {
  font-size: .9rem;
  line-height: 1.2;
}

.quickicon-linkadd {
  display: none;
}
