// Quick Icons

.card-columns {
  column-count: 2;
}

.quick-icons {
  display: grid;
  padding: 0;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr ) );
  grid-gap: 1rem;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.quickicon-group,
.quickicon {
    flex: 0 0;
}

.quickicon a {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  min-height: 6.5rem;
  background-color: $tertiary;
  color: $primary;
  text-align: center;
  transition: all .2s ease-in-out;
  border: 1px solid $border-color;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-sm;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

  &.success {
    color: #648016;
    border: 1px solid #648016;
  }
}

.quickicon-icon,
.quickicon-name {
  justify-content: center;
}

.quickicon-icon {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.quickicon-name,
.quickicon-text {
  font-size: .9rem;
  line-height: 1.2;
}

.quickicon-linkadd {
  display: none;
}
