// Table

.table tbody tr:nth-of-type(#{$table-striped-order}) {
  background-color: $table-accent-bg;
}

.tbody-icon {
  padding: 0 3px;
  border: 0;
  text-align: center;
  background-color: transparent;

  [class*=" icon-"],
  [class^="icon-"] {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 1rem;
    line-height: 22px;
    color: $body-color;
    border: 1px solid $border-color;
    border-radius: 50%;
  }

  &.disabled {
    [class*=" icon-"],
    [class^="icon-"] {
      color: $gray-400;
      border-color: $gray-400;
    }
  }

  .icon-featured {
    color: $yellow !important;
    border-color: $yellow !important;
  }

  .icon-unpublish,
  .icon-checkedout {
    color: $red !important;
    border-color: $red !important;
  }

  .icon-publish {
    color: $green !important;
    border-color: $green !important;
  }
}
