// Table

.table tbody tr:nth-of-type(#{$table-striped-order}) {
  background-color: $table-accent-bg;
}

.tbody-icon {
  padding: 0 3px;
  border: 0;
  text-align: center;
  background-color: transparent;

  [class*=" icon-"],
  [class^="icon-"] {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 1rem;
    line-height: 22px;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 50%;
  }
}
