// Toolbar

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  > *:not(:last-child) {
    margin-inline-end: .5rem;
  }
}

.js-filters-show {
  display: block;
}

.subhead .btn.dropdown-toggle {
  @extend .btn-primary;
}

joomla-toolbar-button + .dropdown-toggle-split {
  @include border-right-radius($border-radius !important);
}

.btn-group joomla-toolbar-button:not(:last-child) > .btn:not(.dropdown-toggle) {
  @include border-right-radius(0);
}
