// Toolbar

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  > *:not(:last-child) {
    margin-inline-end: .5rem;
  }
}

.js-filters-show {
  display: block;
}

.subhead .btn.dropdown-toggle {
  @extend .btn-primary;
}
