// Tooltip

[role="tooltip"]:not(.show) {
  display: none;
  z-index: 1070;
  max-width: 100%;
  padding: .75em;
  margin: .25em;
  color: #fff;
  background: $primary;
}

:focus + [role="tooltip"],
:hover + [role="tooltip"] {
  position: absolute;
  display: block;
}

[id="filter[search]-desc"] {
  bottom: 100%;
}
