// Tree select

.treeselect {
  display: block;
  padding-inline-start: 0;
  list-style: none;

  .nav-header {
    font-weight: $font-weight-bold;
    color: $body-color;
  }

  li {
    position: relative;
    display: block;
    line-height: $treeselect-line-height;
    list-style: none;

    &::before,
    &::after {
      position: absolute;
      left: ($treeselect-indent - 15px);
      content: "";
      background-color: $body-color;

      [dir=rtl] & {
        right: ($treeselect-indent - 15px);
        left: auto;
      }
    }

    &::before {
      top: 18px;
      width: 10px;
      height: 1px;
      margin: auto;
    }

    &::after {
      top: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
    }

    &:last-child::after {
      height: 18px;
    }

    li {
      padding-inline-start: $treeselect-indent;
    }
  }

  > li::before,
  > li::after {
    display: none;
  }

  .icon- {
    display: none;
  }

  .treeselect-toggle {
    display: inline-block;
    padding: 0;
    margin-inline-end: .1rem;
    text-align: center;
    cursor: pointer;
  }

  .treeselect-menu {
    display: inline-block;
  }

  .treeselect-item {
    display: inline-block;

    input {
      position: relative;
      top: 1px;
      margin-inline-end: .2rem;
    }

    label {
      margin-bottom: 0;
    }
  }

  .dropdown-toggle {
    margin-inline-start: .5rem;

    &::after {
      margin: 0;
      font-size: 1rem;
      color: $body-color;
    }
  }
}

.treeselect-sub {
  padding-inline-start: 0;
}

.tree-holder {

  ul ul {

    li::before,
    li::after {
      left: 8px;
      display: block;
    }

    li::before {
      top: 12px;
    }

    li:last-child::after {
      height: 12px;
    }
  }

  li {
    line-height: 1.8rem;

    li {
      padding-inline-start: 20px;
    }
  }
}
