// Utilities

// Height
.h-100 { height: 100% !important; }

// Text
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

// Margin and padding
.ml-auto  { margin-left: auto; }
.ml-right { margin-left: auto; }

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
	.#{$abbrev}-#{$size} { #{$prop}: $length !important; }
	.#{$abbrev}t-#{$size},
	.#{$abbrev}y-#{$size} {
	  #{$prop}-top: $length !important;
	}
	.#{$abbrev}r-#{$size},
	.#{$abbrev}x-#{$size} {
	  #{$prop}-right: $length !important;
	}
	.#{$abbrev}b-#{$size},
	.#{$abbrev}y-#{$size} {
	  #{$prop}-bottom: $length !important;
	}
	.#{$abbrev}l-#{$size},
	.#{$abbrev}x-#{$size} {
	  #{$prop}-left: $length !important;
	}
  }
}

// Float
.float-left  { float: left !important; }
.float-right { float: right !important; }
.float-none  { float: none !important; }

