// Bootstrap core
@import "../../../media/vendor/bootstrap/scss/functions";
@import "../../../media/vendor/bootstrap/scss/variables";
@import "media/vendor/bootstrap/mixins";

// Bettum Variables and mixins
@import "mixins";
@import "variables";


// Calendar
.calendar-container {
	float: left;
	min-width: 160px;
	padding: 0;
	list-style: none;
	background-color: var(--tertiary);
	border: 1px solid var(--border-color);
	z-index: 1100 !important;
}
.calendar-container table {
	table-layout: fixed;
	max-width: 262px;
	border-radius: 5px;
	background-color: var(--tertiary);
	z-index: 1100 !important;
	border-collapse: separate;
}
/* The main calendar widget.  DIV containing a table. */
div.calendar-container table th, .calendar-container table td {
	padding: 8px 0;
	line-height: 1.1em;
	text-align: center;
}

div.calendar-container table body td {
	line-height: 2em;
}

div.calendar-container table td.title { /* This holds the current "month, year" */
	vertical-align: middle;
	text-align: center;
}

.calendar-container table thead td.headrow { /* Row <TR> containing navigation buttons */
	background: var(--secondary);
	color: var(--border-color);
}

.calendar-container table thead td.name { /* Cells <TD> containing the day names */
	border-bottom: 1px solid var(--secondary);
	text-align: center;
	color: var(--border-color);
}

/* The body part -- contains all the days in month. */

.calendar-container table tbody td.day { /* Cells <TD> containing month days dates */
	text-align: end;
}

.calendar-container table tbody td.wn {
	background: var(--secondary);
}

.calendar-container table tbody td.day {
	border: 0;
	cursor : pointer;
	font-size: 12px;
	min-width: 38px;
}

.calendar-container table tbody td.day.wn {
	text-align: center;
	background-color: var(--secondary);
}

.calendar-container table tbody td.day.selected { /* Cell showing today date */
	background: #3071a9;
	color: #fff;
	border: 0;
}

.calendar-container table tbody td.today {
	position: relative;
	height: 100%;
	width: auto;
	font-weight: bold;
	
	&::after {
		position: absolute;
		bottom: 3px;
		left: 3px;
		right: 3px;
		content: "";
		height: 3px;
		border-radius: 1.5px;
		background-color: var(--success);
	}
	
	&.selected:after {
		background-color: var(--secondary);
	}
}

.calendar-container table tbody td.day:hover {
	cursor: pointer;
	background: $blue-bg;
	color: $white;
}
.calendar-container table tbody td.day:hover:after {
	background-color: var(--secondary);
}

.calendar-container table tbody .disabled {
	color: #999;
	background-color: var(--secondary);
}

.calendar-container table tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar-container table tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}

.calendar-container .calendar-head-row td {
	padding: 4px 0 !important;
	border-bottom: none;
}
.calendar-container .day-name {
	font-size: 0.7rem;
	font-weight: bold;
}
.calendar-container .time td {
	padding: 8px 0 8px 8px;
}
.buttons-wrapper {
	padding: 5px 5px;
	width: 100%;
}
.buttons-wrapper .btn {
	min-width: 60px;
	color: $white;
	border: 1px solid var(--border-color);
	margin-inline-end: .5rem;
	padding: 0 16px;
	line-height: 2.375rem;
	
	&:hover {
		color: var(--border-color);
		background: $blue-bg;
	}
	
	&:last-child {
		margin-inline-end: 0;
	}
}

.time .time-title {
	background-image: str-replace(url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='22' height='22' fill='#{$border-color}' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1024 544v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23zm416 352q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z'/%3E%3C/svg%3E"), "#", "%23");
	background-repeat: no-repeat;
	background-position: center;
}
