// Bootstrap core
@import "../../../../../../../media/vendor/bootstrap/scss/functions";
@import "../../../../../../../media/vendor/bootstrap/scss/variables";
@import "../../vendor/bootstrap/mixins";

// Bettum Variables and Mixins
@import "../../../mixins";
@import "../../../variables";


// Switcher
$off-background-colour: #f0f0f0;
$on-background-colour: $green;
$switcher-width:  62px;
$switcher-height: 32px;

.switcher {
  position: relative;
  width: 18rem;
  height: $switcher-height;

  &.disabled {
    opacity: .6;

    input {
      cursor: not-allowed;
    }
  }
}

.switcher input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  height: $switcher-height;
  width: $switcher-width;
  margin: 0;
  left: 0;

  [dir=rtl] & {
    left: auto;
    right: 0;
  }
}

.switcher input:checked {
  z-index: 1;
}

.switcher input:checked + label {
  opacity: 1;
}

.switcher input:not(:checked) + label {
  opacity: 0;
}

.switcher input:focus ~ .toggle-outside {
  border-color: var(--focus);
  box-shadow: 0 0 0 .2rem rgba(26,70,107,.25);
}

.switcher label {
  line-height: $switcher-height;
  display: inline-block;
  width: auto;
  min-width: 6rem;
  height: 100%;
  margin-inline-start: 70px;
  text-align: start;
  position: absolute;
  transition: opacity .25s ease;
  margin-bottom: 0;
  left: 0;

  [dir=rtl] & {
    left: auto;
    right: 0;
  }
}

.switcher .toggle-outside {
  height: 100%;
  overflow: hidden;
  transition: .2s ease all;
  background: $off-background-colour;
  position: absolute;
  width: $switcher-width;
  box-sizing: border-box;
  border: 1px solid rgba($black, .18);
  border-radius: 2rem;
  left: 0;

  [dir=rtl] & {
    left: auto;
    right: 0;
  }
}

.switcher input ~ input:checked ~ .toggle-outside{
  background: $on-background-colour;
}

.switcher .toggle-inside {
  height: $switcher-height - 4;
  width: ($switcher-width - 6) / 2;
  background: $secondary;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: .4s ease all;
}

.switcher input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: $switcher-width / 2;
  background: $white;
}

.switcher__legend {
  margin-bottom: $label-margin-bottom;
  font-size: $content-font-size;
  font-weight: $font-weight-normal;

  [dir=rtl] & {
    float: right;
  }
}
