// Form

.form-group {
  margin-bottom: 1rem;
}

.control-group {
  margin-bottom: 1rem;
}

.controls {
  joomla-field-fancy-select,
  .form-select,
  .form-control {
    max-width: $input-max-width;
  }
}

.title-alias .controls {
  .form-select,
  .form-control {
    max-width: none;
  }
}

.form-control-feedback {
  display: block;
  color: var(--red);
}


// Form select modifiers
.form-select-success {
  border-color: var(--green);
}

.form-select-danger {
  border-color: var(--red);
}

.module-options {
  .controls {
    .form-select,
    .form-control {
      max-width: none;
    }
  }
}
