// Quick Icons

.quick-icons {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr ));
  grid-gap: 1rem;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.quickicon-group,
.quickicon {
    flex: 0 0;
}

.quickicon a {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  min-height: 6.5rem;
  padding: 2rem 0;
  background-color: var(--quickicon-bg);
  color: var(--body-color);
  text-align: center;
  transition: all .2s ease-in-out;
  border: 1px solid var(--quickicon-border-color);
  border-radius: 6px;
  box-shadow: $quickicon-box-shadow;

  &:hover,
  &:focus {
    box-shadow: $quickicon-hover-box-shadow;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }

  &.success {
    border: 1px solid var(--green);

    .quickicon-icon,
    .quickicon-text {
      color: var(--green);
    }
  }

  &.danger {
    border: 1px solid var(--red);

    .quickicon-icon,
    .quickicon-text {
      color: var(--red);
    }
  }
}

.quickicon-icon,
.quickicon-name {
  justify-content: center;
}

.quickicon-icon {
  font-size: 2.2rem;
  margin-bottom: .75rem;
  color: $quickicon-icon-color;
}

.quickicon-name,
.quickicon-text {
  font-size: .9rem;
  line-height: 1.2;
}

.quickicon-linkadd {
  display: none;
}
